* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #cdcdcd;
}

#todo__wrappper {
    max-width: 900px;
    width: 100%;
    margin: 0px auto;
    background-color: #fff;
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
}

#header {
    margin-bottom: 40px;
}

#header h1 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

#header p {
    display: inline-block;
    padding: 5px;
    background-color: rgb(224, 224, 154);
    border-radius: 4px;
}

#form {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

#form input {
    width: 85%;
    padding: 10px;
    outline: none;
}

#form #button {
    width: 13%;
    padding: 10px;
    border: 3px solid rgb(0, 255, 255);
    border-radius: 6px;
    background-color: white;
    color: aqua;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.5s linear;
}

#form #button:hover {
    background-color: rgb(0, 255, 255);
    color: white;
}

#table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    font-size: 20px;
}

#table #thead {
    border-bottom: 1px solid black;
}
#thead th
{
    padding-bottom: 10px;
}
#tbody tr td
{
    padding: 15px;
}
#tbody tr{
    border-bottom: 2px solid #ccc;
}
#tbody tr td #todo-btn
{
    padding: 6px;
    border: 2px solid cadetblue;
    color: cadetblue;
    background-color: #fff;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.2s linear ;
}
#tbody tr td #todo-btn:hover
{
    background-color: cadetblue;
    color: #fff;
}
#tbody tr td #icon
{
    font-size: 25px;
    cursor: pointer;
    transition: all 0.2s linear;
}
#tbody tr td #icon:hover{
    transform: scale(1.2);
    color:rgb(0, 255, 255);
}